.resultaatRij {
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: space-around;
}

.bannerCharacter {
    background-image: url('./images/craft.png');
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    list-style: none;
    padding: 0.2em;
}

.charEpisodes {
    max-height: 10em;
    background-color: white;
    border: 1px solid grey;
    color: black;
    overflow: scroll;
    scrollbar-color: black;
    box-sizing:border-box;
    width: calc(30px + 30vmin);
}

.resultaat {
    grid-row: 3 / 5;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.resultaatRij{
    align-items: center;
}

.resultaatRij > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
li {
    font-weight: bold;
    font-size: calc(8px + 1.35vmin);
}

.charImage {
    border-radius: 10%;
    box-shadow: white 0px 0.3em 0.5em;
    height: calc(30px + 30vmin);
    width: calc(30px + 30vmin);
    margin: 1em;
}

.charEpisodes {
    box-shadow: inset 0 0 0.2em 0#97f62f, 0 0 0.2em 0#97f62f;
    border: 0.2em solid #97f62f;
    border-radius: 5%;
}

@media only screen and (max-width: 1000px) {
    .resultaatRij {
        flex-direction: column;
    }
}
